{% extends 'blog/base.html' %}
{% block content %}
   {% for post in posts %}
       <div class="post">
           <div class="date">
               {{ post.published_date }}
           </div>
           <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
           <p>{{ post.text|linebreaksbr }}</p><span style="background-color:yellow"><b>Watson Says:</b></span>
        <p>Anger : {{ post.angerScore }} |
        Disgust : {{ post.disgustScore }} |
        Fear : {{ post.fearScore }} |
        Joy : {{ post.joyScore }} |
        Sad : {{ post.sadScore }}</p>

          <!-- <p>{{ post.obj2}}</p> -->
           <b>Content in Spanish</b>
           <p>  {{post.translate_spanish }} </p>

           <p>Word Count: {{post.count}} | Letter Count: {{post.charactercount}}</p>

           <!--<p>{{ post.obj2}}</p>-->
            <b>Content in Arabic</b>
            <p> {{post.translate_arabic }}</p>

           <span style="background-color:lightgreen"><b>Watson Personality Inputs:</b></span>
           <p>Personality Score1 - {{post.score0}} | 2nd Score - {{post.score1}}| 3rd Score - {{post.score2}} </p>
           <p>Personality 1st Percentile - {{post.percentile0}}| 2nd Percentile - {{post.percentile1}} | Personality 3rd Percentile - {{post.percentile2}} </p>
           <p>Significance - {{post.significance0}} | Needs - {{post.needs}}</p>
           

           <span style="background-color:lightgreen"><b>Watson Big 5 Characteristics Percentiles</b></span>
           <p> Openess : {{post.openness}} |
               Conscientiousness: {{post.conscientiousness}} |
               Extraversion: {{post.extraversion}}|
               Agreeableness: {{post.Agreeableness}}|
               Emotional Range: {{post.Emotional_range}}</p>

       </div>
   {% endfor %}
{% endblock %}
